.MainHead{
    display:flex; 
    align-items:center; 
    justify-content:center; 
    font-size: 45px;
    font-family:Segoe UI; 
    gap: 10px; 
    margin-top:0px;
    margin-bottom:0px;
    padding-top:32px;
    padding-bottom:32px;
    color:#720020;
    background-color:#fff4ed;
    border-radius:0.2px
}

.ImageOne{
    width:60px; 
    height:60px;
}

.NavBar{
    background-color:#720020; 
    padding:15px; 
    text-align:center;
    border-radius:10px
}

.NavStuff{
    color:#fff4ed; 
    margin: 60px; 
    text-decoration:none; 
    font-family:Segoe UI;
    font-size:20px
}

.CenterMain{
    background-color:#fff4ed; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px auto; 
    max-width: 800px;
}

.Para{
    font-family:Segoe UI
}

.CustHead{
  color:#720020;
  font-family:Segoe UI;
}

.SlideShowMain{
  max-width: 600px;
  position: relative;
  margin: 0 auto
}

.ImgSlide{
  display: none;   
  width: 90%;
  max-width: 500px;
  border-radius: 10px
}

.CommentSec{
    background-color:#f2e3e7;
    padding: 55px;
    border-radius:1em;
    margin: 60px auto;
    max-width: 1000px;
}

.TextArea{
width: 100%;
padding: 16px;
border: 2px solid #720020;
border-radius: 8px; 
font-family: Segoe UI;
resize: none;
font-family:Segoe UI
}

.ListCom {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.ListCom li {
  background-color: #720020;
  margin-bottom: 12px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #62021d;
  color: #fff4ed;
  font-family: 'Segoe UI';
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  word-break: break-word
}

.MainBut {
    margin-top: 10px;
    background-color: #720020;
    color: #fff4ed;
    text-decoration: none;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-size: 12px;
}

.MainBut:hover {
    background-color: #a0002d;
}

.Footer {
    background-color: #720020;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Segoe UI';
    color: #fff4ed;
}